.App {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebar-div {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.filtered-plushies-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
}

.filtered-plushies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cart-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  width: 15%;
}

.sidebar-div {
  font-size: 20px;
}

input[type=radio] {
  width: 15px;
  height: 15px;
}